@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Layout Styling and Text*/

body {
    background-color: black;
    color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


section {
    margin: 25px;
}

h1 {
    margin: 25px;
    font-family: "New Amsterdam", sans-serif;
    font-size: 7rem;
    color: #F39237;
    text-shadow: 4px 4px black;
}

h2 {
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    color: black;
}

p, li {
    font-family: Nunito, sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    color: black;
}

#results-box, 
#round-box, 
#scale-box {
    font-family: Nunito, sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    color: azure;
}

a {
    font-family: Nunito, sans-serif;
    font-size: 2rem;
    margin: 25px auto;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #F39237;
    text-shadow: 4px 4px black;
}

/*Navigation */

.hide {
    display: none !important;
}

/*Game Page*/

.card {
    border: none;
    background-color: black;
    height: 170px;
    font-size: 50px;
    padding: 10px;
}

.inner-card {
    border: 5px solid grey;
    background-color: whitesmoke;
    height: 80%;
    border-radius: 10px;
}

#results-box {
    min-height: 50px;
}

/*Modals */

.modal-title {
    font-size: 2rem;
}

.modal-body h2 {
    margin: 15px 0px;
}

/*All Buttons*/

.button-game {
    margin: 20px;
    padding: 0 20px;
    font-family: "New Amsterdam", sans-serif;
    font-size: 1.75rem;
    border-radius: 5px;
    min-height: 80px;
    min-width: 10rem;
    background-color: #F39237;
}

.game-button-hover:hover {
    color: #F39237;
    background-color: black;
}

#higher-button,
#lower-button {
    margin: 0;
    padding: 0;
    width: 30%;
    min-width: 100px;
    max-width: 150px;
}